// changes are watched via index.js
@import 'variables', 'slate-overrides';

.faux-h1 {
  font-size: 1.875rem;
  font-weight: 600
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  @include font;
  margin: unset;
  padding: unset;
}


h2 {
  font-size: 1.625rem;
  @include font;
}

.widget {
  margin-bottom: 10px;
}

.payment-due {
  display: grid;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-left: 2%;
  margin-bottom: 3rem;
  font-size: 2.25rem;
  background-color: var(--primarySand);
  height: 6.25rem;
}

h2.h2__payment-due {
  display: inline;
  text-transform: capitalize;
  @include font;
}

.cu_sidebar a,
.link {
  @include link;
  text-decoration: underline;
  cursor: pointer;
}

.masthead__stats ul {
  margin-left: 0;
}

.masthead__stats ul li {
  list-style: none;
  margin-top: 0.75rem
}

section#masthead {
  display: grid;
  grid-template-columns: 50%;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: left;
  padding-left: 10%;
  -ms-flex-line-pack: center;
  align-content: center;
  height: 32.8125rem;
  
  @extend %hawaii;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  color: white;
  margin-bottom: 3rem;
  /* full width (override default padding */
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}
.masthead__innards {
  height: 25rem;
  display: grid;

  & p {
    font-size: 1rem;
    color: white;
  }
}

.masthead__line hr {
  width: 6.25rem;
  left: 0;
  display: inline-block;
  width: 5rem;
  left: 0;
  display: inline-block;
  height: 0.1875rem;
  background-color: white;
  border-radius: 0.25rem;
  margin-top: 1.375rem;
}

.masthead__line {
  width: 100%;
  display: inline-block;
}

button {
  height: 2.8125rem;
  border-radius: 0.5rem;
  border: none;
}

.red {
  color: var(--primaryRed);
}

.inline {
  display: inline-block;
}

button.red {
  background-color: var(--primaryRed);
  color: var(--white);
  text-transform: uppercase;
  font-weight: 800;
  font-size: 1.2em;
  width: 18.75rem;
  height: 3.75rem;
  -webkit-box-shadow: 0px 8px 15px rgba(0, 0, 0, .5);
  box-shadow: 0px 8px 15px rgba(0, 0, 0, .5);
}

button.red:hover {
  background-color: var(--primaryRedHover);
  @include ease(.3s);
}

@media screen and (min-width: 48rem) {
  .c_primaryContent.cr.c_twoColumns.cr .c_middleRightContainer.cr {
    float: right;
    width: 100%;
    padding-left: 0.625rem;
    padding-top: 0.625rem;
  }
}

.cu_container {
  padding: 5.5rem 0 0 5.5rem;
}

.sand {
  background-color: var(--primarySand);
}

/* sidebar */
// .sidebar> {
//   .inner {
//     display: grid;
//     // -webkit-box-pack: center;
//     //     -ms-flex-pack: center;
//     //         justify-content: center;
//   }

//   .text {
//     min-width: 200px;
//     padding-bottom: 30px;
//     // margin-left: -50px;
//   }

//   h2 {
//     font-size: 1.125rem;
//     color: var(--primaryRed);
//   }

//   .title {

//     // background-color: var(--primarySand);
//     // padding-top: 110px;
//     // margin-top: -100px;
//     // display: grid;
//     // -webkit-box-pack: center;
//     // -ms-flex-pack: center;
//     // justify-content: center;
//   }

//   ul,
//   li {
//     list-style: none !important;
//     margin-left: 0;
//   }

//   li:nth-child(even) {
//     padding-bottom: 20px;
//   }

//   .bold {
//     @include fw(800);
//   }
// }

#processing-notes {
  line-height: 24px;

  >h2 {
    margin-bottom: 10px;
  }
}

section.sidebar {
  display: grid;
}

.sidebar {
  .container {
    display: grid;
  }

  h2 {
    font-size: 1.125rem;
    color: var(--primaryRed);
  }

  .counselor-image-outline {
    width: 220px;
    height: 220px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    border: 2px solid var(--primaryRed);
    display: grid;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .counselor-image-outline:hover {
    -webkit-box-shadow: 0px 8px 15px rgba(0, 0, 0, .5);
    box-shadow: 0px 8px 15px rgba(0, 0, 0, .5);
    @include ease(.1s);
  }

  .counselor-image-outline:hover>.counselor-image img {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    @include ease(.1s);
  }

  .counselor-image img {
    width: 200px;
    height: 200px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    display: grid;
    align-self: center;
    @extend %peter;
  }

  .counselor-image-wrapper {
    display: grid;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  ul,
  li {
    list-style: none !important;
  }

  li:nth-child(even) {
    padding-bottom: 20px;
  }

  .bold {
    @include fw(800);
  }
}

#application-questions {
  .title h2 {
    background-color: var(--primarySand);
    padding-top: 110px;
    margin-top: -100px;
    display: grid;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .container {
    // min-width: 320px;
  }

  ul,
  li {
    // margin-left: 10px;
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

/* DEVELOPMENT ONLY (REMOVE OR COMMENT OUT) */
.masthead_li strong::after {
  content: " some data";
  font-weight: normal;
}

.sidebar_application.text {
  // width: 190px;
  // border: 2px solid black;
}

// test
.cu_sidebar {
  background-color: var(--primarySand);
  padding: 10% 0 10% 0;
  display: grid;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  grid-template-columns: 1;
}

#counselor-contact ul li {
  list-style: none;
}


.cu_sidebar {
  h2 {
    font-size: 1.125rem;
    color: var(--primaryRed);
  }

  ul,
  li {
    margin-left: 0;
  }

  li:last-of-type {
    height: 0;
  }

  li.bold {
    @include fw(800);
  }

  li:nth-child(even) {
    padding-bottom: 20px;
  }

  .inner {
    max-width: 225px;
    padding-left: 10px;
    padding-right: 10px;

    & h2 {
      margin-bottom: 10px;
    }
  }

}













