// changes are watched via index.js
@import "variables.scss", "slate-overrides.scss";

.faux-h1 {
  font-size: 1.875rem;
  font-weight: 600;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  @include font;
  margin: unset;
  padding: unset;
}

h2 {
  font-size: 1.625rem;
  @include font;
}

.widget {
  margin-bottom: 0.625rem;
}

.payment-due {
  display: grid;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-left: 2%;
  margin-bottom: 3rem;
  font-size: 2.25rem;
  background-color: var(--primarySand);
  height: 6.25rem;
}

h2.h2__payment-due {
  display: inline;
  text-transform: capitalize;
  @include font;
}

.cu_widget a,
.link {
  @include link;
  text-decoration: underline;
  cursor: pointer;
}

.masthead__stats ul {
  margin-left: 0;
}

.masthead__stats ul li {
  list-style: none;
  margin-top: 0.75rem;
}

section#masthead {
  display: grid;
  grid-template-columns: 50%;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: left;
  padding-left: 10%;
  -ms-flex-line-pack: center;
  align-content: center;
  height: 32.8125rem;

  @extend %hawaii;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: white;
  margin-bottom: 3rem;
  /* full width (override default padding */
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}

.masthead__innards {
  height: 25rem;
  display: grid;

  & p {
    font-size: 1rem;
    color: white;
  }
}

.masthead__line hr {
  width: 6.25rem;
  left: 0;
  display: inline-block;
  width: 5rem;
  left: 0;
  display: inline-block;
  height: 0.1875rem;
  background-color: white;
  border-radius: 0.25rem;
  margin-top: 1.375rem;
}

.masthead__line {
  width: 100%;
  display: inline-block;
}

button {
  height: 2.8125rem;
  border-radius: 0.5rem;
  border: none;
}

.red {
  color: var(--primaryRed);
}

.inline {
  display: inline-block;
}

button.red {
  background-color: var(--primaryRed);
  color: var(--white);
  text-transform: uppercase;
  font-weight: 800;
  font-size: 1.2em;
  width: 18.75rem;
  height: 3.75rem;
  -webkit-box-shadow: 0rem 0.5rem 0.9375rem rgba(0, 0, 0, 0.5);
  box-shadow: 0rem 0.5rem 0.9375rem rgba(0, 0, 0, 0.5);
}

button.red:hover {
  background-color: var(--primaryRedHover);
  @include ease(0.3s);
}

@media screen and (min-width: 768px) {
  .c_primaryContent.cr.c_twoColumns.cr .c_middleRightContainer.cr {
    float: right;
    width: 100%;
    padding-left: 0.625rem;
    padding-top: 0.625rem;
  }

}

.cu_container {
  padding: 5.5rem 0 0 5.5rem;
}

.sand {
  background-color: var(--primarySand);
}

#processing-notes {
  line-height: 1.5rem;

  >h2 {
    margin-bottom: 0.625rem;
  }
}

section.sidebar {
  display: grid;
}

.sidebar {
  .container {
    display: grid;
  }

  h2 {
    font-size: 1.125rem;
    color: var(--primaryRed);
  }

  .counselor-image-outline {
    width: 13.75rem;
    height: 13.75rem;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    border: 0.125rem solid var(--primaryRed);
    display: grid;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .counselor-image-outline:hover {
    -webkit-box-shadow: 0rem 0.5rem 0.9375rem rgba(0, 0, 0, 0.5);
    box-shadow: 0rem 0.5rem 0.9375rem rgba(0, 0, 0, 0.5);
    @include ease(0.1s);
  }

  .counselor-image-outline:hover>.counselor-image img {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    @include ease(0.1s);
  }

  .counselor-image img {
    width: 12.5rem;
    height: 12.5rem;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    display: grid;
    align-self: center;
    @extend %peter;
  }

  .counselor-image-wrapper {
    display: grid;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  ul,
  li {
    list-style: none !important;
  }

  li:nth-child(even) {
    padding-bottom: 1.25rem;
  }

  .bold {
    @include fw(800);
  }
}

#application-questions {
  .title h2 {
    background-color: var(--primarySand);
    padding-top: 6.875rem;
    margin-top: -6.25rem;
    display: grid;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}

.sr-only {
  position: absolute;
  width: 0.0625rem;
  height: 0.0625rem;
  padding: 0;
  margin: -0.0625rem;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

/* DEVELOPMENT ONLY (REMOVE OR COMMENT OUT) */
.masthead_li strong::after {
  content: " some data";
  font-weight: normal;
}

// test
.cu_widget {
  background-color: var(--primarySand);
  padding: 10% 0 10% 0;
  display: grid;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  grid-template-columns: 1;
}

#counselor-contact ul li {
  list-style: none;
}

.cu_widget {
  h2 {
    font-size: 1.125rem;
    color: var(--primaryRed);
  }

  ul,
  li {
    margin-left: 0;
  }

  li:last-of-type {
    height: 0;
  }

  li.bold {
    @include fw(800);
  }

  li:nth-child(even) {
    padding-bottom: 1.25rem;
  }

  .inner {
    max-width: 14.0625rem;
    padding-left: 0.625rem;
    padding-right: 0.625rem;

    & h2 {
      margin-bottom: 0.625rem;
    }
  }
}

.main-section-widget {
  margin-top: 1.875rem;
  margin-bottom: 1.25rem;
  background-color: white;

  & h2,
  p {
    padding-left: 1.25rem;
  }
}

@media (max-width: $mobile) {

  #application-questions,
  .main-section-widget {
    max-width: 100vw;
    padding: 0;
  }

  .c_primaryContent.cr {
    min-width: 100vw;
    padding: 0;
    margin: 0;
  }

  .cu_widget .inner {
    padding-left: unset;
    width: 100vw;
  }
}

// application questions mobile
@media screen and (max-width: 688px) {
  .sidebar.application-questions {

    & .sand.inner {
      max-width: 14.0625rem;
      padding-left: 0.625rem;
      padding-right: 0.625rem;
      max-width: 100%;
      display: grid;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
    }

    & .text {
      padding-left: 0.625rem;
      padding-right: 0.625rem;
      min-width: 240px;
    }

    /* base.css | http://fw.cdn.technolutions.net/framework/base.css?v=20190522-6 */

    ol,
    ul {
      margin-left: unset;

    }

    .bottom {
      margin-bottom: 0.625rem;
    }
  }
}

tr:nth-child(even) {
  background-color: lighten(blue, 80%) !important;
}