@import './variables.scss';

.c_admission .cr {
  .c_primaryContent.c_clearfix.c_twoColumns.cr {
    background-color: white;
  }

  #content,
  .c_middleRightContainer.cr {
    padding: unset;
    padding-top: unset;
    padding-left: unset;
  }

  .c_primaryContent.cr {
    max-width: 85%;

  }

  .c_middleRightContainer .cr {
    padding-top: 0;
  }
}
